pyrogram
motor                # <--- MongoDB Driver
umongo               # <--- ODM (Object Document Mapper)
python-dotenv
uvloop
# Agar aap chahein to umongo ka version bhi specify kar sakte hain: umongo==3.2.0
